.list {
  /* width: 340px; */
  padding: 5px;
}
.listItem {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
  margin-top: 10px;
  width: 340px;
  background-color: rgb(205, 238, 238);
}
.btn {
  border-radius: 5px;
  background-color: rgb(229, 119, 119);
  cursor: pointer;
}
